.btn-action {
  padding: .45rem 0.8rem !important;
}

.single-label {
	padding-top: calc(.65rem + 1px);
    padding-bottom: calc(.65rem + 1px);
    margin-bottom: 0;
    line-height: 1.5;
    flex: 0 0 20%;
    max-width: 20%;
}

.single-input {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 50%;
    max-width: 50%;
}

.dataTables_processing {
    background-color: #212529 !important;
}

/*begin select2 adaptation to theme*/
.select2-container--default .select2-selection--single{
    background-color: #1a2035;
}
.select2-search--dropdown{
    background-color: #1a2035;
}
.select2-search__field{
    background-color: #1a2035;
    color: #fff;
}
.select2-results { 
    background-color: #1a2035;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #2f374b;
    height: 43px !important;
}   
.select2-selection__rendered {
    line-height: 43px !important;
    color: #fff !important;
}
.select2-selection__arrow {
    height: 43px !important;
}
/*end select2 adaption theme*/

/*begin modal adaption theme*/
.modal-content {
    background-color: #202940;
    color: white !important;
}
button.close {
    color: white !important;
}

button.close.kv-error-close {
    color: black !important;
}
}

.modal-header {
    border-bottom: 1px solid rgb(48, 56, 77)!important;
}
.modal-footer {
    border-top: 1px solid rgb(48, 56, 77)!important;
}
/*end modal adaption theme*/

.form-control[disabled], .form-control[readonly] {
    background: transparent !important;
}

.kv-avatar-errors {
    color: red !important;
}

.btn-show-datatable , .btn-edit-datatable , .btn-delete-datatable, .btn-download-datatable {
    padding: .45rem 1rem !important;
}

.btn-download-datatable > span {
    color: #8e9593 !important;
}

a.logo > img {
    width: 30px;
}

a.logo > h2 {
    margin-left: 7px;
    display: inline;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.link-collapse:hover {
    color: #8d9498 !important;
}

.delete-account {
    cursor: pointer;
}

.btn-datatable {
    padding: .40rem .7rem;
    margin: 2px;
}
.btn-grey {
    background: #41485a!important;
    color: #fff!important;
}

/*for menu role menu*/
.role-menu-title {
  height: 55px;
  overflow: hidden;
  position: relative;
  margin-bottom: -3px;
}

.role-menu-content {
  overflow: auto;
  height: 300px;
  width: 100%;
}

.permission-menu-content {
  overflow: auto;
  height: 500px;
  width: 100%;
}

.role-menu-child {
  padding-left: 30px;
}

.role-menu-grandchild {
  padding-left: 50px; 
}

.role-menu-name {
  font-weight: bold;
  width: 200px;
  vertical-align: middle;
}

.permission-checkbox {
  font-size: 12px;
  text-align: center;
  width: 12%;
}

.permission-menu-name {
  width: 40%;
  vertical-align: middle !important;
  position: sticky; 
  top: 0;
  text-align: center;
}

.table-permission .permission-name {
  position: sticky; 
  top: 0;
  text-align: center;
  vertical-align: middle !important;
}